body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.root {
    /* height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    background-color: rgb(66, 148, 255);
    height: 100vh;
    text-align: center;
    color: white;
    font-weight: bold;
}

button {
    display:inline
}

h1 {
    padding-top: 100px;
    font-size: 48px;
}
p {
    font-size: 36px;
}
#container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 100px;
    box-sizing: content-box;
}

.item {
    width: 100px;
    height: 100px;
    border: 1px solid;
}