body {

}
.section {
    margin: auto;
    width: 300px;
    min-height: 50px;
    padding: 20px;
    text-align: center;
    border: solid grey 1px;
}

.section-content {
    font-size: 24px;
    color: rgb(177, 177, 177);
    font-weight: bold;
    text-align: left;
}
#generate {
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    background-color: rgb(139, 209, 139);
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}