body {
  margin: 0;
}
#root {
  /* width: 1200px; */
  margin: auto;
}
.auth-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 2rem;
  background-color: #f4f4f4;
}

.auth-form form {
  display: flex;
  gap: 30px;
  flex-direction: column;
  width: 400px;
  padding: 3rem;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
  margin-top: 1rem;
}

.form-container {
  min-width: 550px;
  padding: 20px;
}

.form-textfield {
  margin-bottom: 20px;
}

.tone-selector {
  margin-bottom: 20px;
}